.navigations {
  @include media($tablet) {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
  }
}

// Search and Form

#form-search {
  margin: 10px 5px;
  display: flex;
  position: relative;
  color: #767679;
  justify-content: space-between;
  @include media($tablet) {
    max-width: 300px;
    margin: 20px 10px;
  }
  @include media($desktop) {
    max-width: 500px;
    margin: 20px 10px;
  }
  &:before {
    content: "\1F50D";
    position: absolute;
    left: 10px;
    top: 8px;
    width: 30px;
    height: 30px;
    z-index: 999;
  }
  label {
    position: absolute;
    left: -999px;
    top: -999px;
  }
  input {
    font-family: $fontFamily;
    padding: 10px 30px 10px 50px;
    font-size: 12px;
    line-height: 0;
    // letter-spacing: 1px;
    width: calc(100% - 120px);
    border: 1px solid $borderGrey;
    background: white;
    transition: all 0.15s ease-in-out;
    position: relative;
    display: block;
    color: #767679;
    border-radius: 30px;
    @include media($tablet) {
      width: 300px;
    }
    &:hover {
      border: 1px solid $borderGrey;
    }
    &:focus {
      border: 1px solid $borderGrey;
      background: #fff;
    }
  }
  button {
    font-family: $fontFamily;
    margin-left: 10px;
    width: 20%;
    min-width: 100px;
    background-color: white;
    border: 1px solid $borderGrey;
    cursor: pointer;
    color: #000;
    border-radius: 30px;
    &:hover {
      border: 1px solid $borderGrey;
    }
  }
}

.seach-all {
  position: relative;
}

#searchresults p {
  position: relative;
  font-size: 14px;
  text-align: center;
  padding: 2px 15px;
  border: 1px solid $pink;
  border-left: 5px solid $pink;
  color: $pink;
  margin: 0 10px;
  margin-bottom: 10px;
}

#clearSearch {
  font-size: 12px;
  text-align: right;
  margin: 0 10px;
  display: none;
  position: absolute;
  right: 5px;
  &.visible {
    display: block;
  }
  span {
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 30px;
    color: $pink;
    z-index: -1;
  }
}

// Navigation Toggles

.sort {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
  @include media($tablet) {
    margin: 0;
    margin-right: 10px;
  }
  > div {
    cursor: pointer;
    &.visible .sort-trigger {
      background-color: $lightPink;
      border: 1px solid $lightPink;
      color: $pink;
      &:after {
        color: $pink;
      }
    }
  }
  .sort-trigger {
    display: block;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: white;
    margin-left: 5px;
    transition: all 0.15s ease-in-out;
    color: #000;
    border-radius: 30px;
    padding: 7px 12px;
    border: 1px solid $borderGrey;

    @include media($desktop) {
      font-size: 14px;
      padding: 7px 22px;
    }

    &:hover {
      border: 1px solid $borderGrey;
    }
    &:before {
      position: relative;
      top: 2px;
      font-size: 14px;
      margin-right: 6px;
      @include media($desktop) {
        font-size: 20px;
        margin-right: 8px;
      }
    }
  }
}

.sort-city .sort-trigger {
  &:before {
    content: "🌆";
  }
}
.sort-artists .sort-trigger {
  &:before {
    content: "🔊";
  }
}

.sort-venues .sort-trigger {
  &:before {
    content: "🏢";
  }
}

.sort-date .sort-trigger {
  &:before {
    content: "🗓️";
  }
}

#venue-list,
#date-list,
#artist-list,
#city-list {
  transition: height 0.25 ease-in;
  overflow: hidden;
  // height: 100vh;
  // width: calc(100% - 20px);
  position: absolute;
  margin: 0 auto;
  right: 0px;
  top: 45px;
  z-index: 9999;
  background: white;
  color: white;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  justify-content: space-around;

  @include media($tablet) {
    top: 70px;
    width: 850px;
    box-shadow: 0 10px 10px rgba($color: $black, $alpha: 0.2);
  }

  > div {
    width: 40%;
    padding: 8px 6px;
    font-size: 14px !important;
    line-height: 16px;
    border-radius: 4px;
    font-weight: 400;
    color: black;
    @include media($tablet) {
      padding: 10px 20px;
      width: 18%;
    }
    &:hover {
      background: $lightPink;
      text-decoration: none;
    }
  }
}

#venue-list.visible,
#artist-list.visible,
#city-list.visible,
#date-list.visible {
  // border: 1px solid #525252;
  transition: height 0.25 ease-in;
  padding: 10px 5px;
  height: auto;
}
