/**
 * @section Mixins
 */
html {
  scroll-behavior: smooth; }

body {
  font-family: 'Poppins', 'Verdana', 'Arial', sanserif;
  margin: 0 auto;
  width: 100%;
  background: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 100; }

h1 {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 18px;
  color: #1c94a5;
  font-weight: normal;
  border-bottom: 2px solid #1c94a5; }
  @media only screen and (min-width: 768px) {
    h1 {
      margin-top: 20px;
      display: block;
      font-size: 30px; } }

h2 {
  font-weight: normal;
  margin-top: 20;
  padding-left: 10px;
  font-size: 20px;
  color: #1c94a5;
  border-bottom: 2px solid #1c94a5; }
  @media only screen and (min-width: 768px) {
    h2 {
      display: inline-block; } }

.button {
  border: 1px solid #fbe5f3;
  padding: 15px 10px;
  background-color: #fbe5f3;
  text-align: center; }

.hidden {
  display: none; }

img.loading {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  margin-left: calc(50% - 25px);
  margin-top: 30px; }

.main-wrap {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .main-wrap {
      padding: 20px;
      flex-direction: row-reverse; }
      .main-wrap .upcoming-events {
        width: 65%;
        padding-bottom: 80px; }
      .main-wrap .sidebar {
        width: 35%; } }

.sidebar {
  padding: 0 10px; }
  @media only screen and (min-width: 768px) {
    .sidebar {
      padding: 0; } }

.sidebar-venues {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap; }
  .sidebar-venues > div {
    width: 50%; }

.sidebar-artist {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px; }
  .sidebar-artist > div {
    width: 33%; }

#evenfeed,
#musicfeed {
  padding: 0;
  padding-bottom: 40px;
  transition: all 0.25 ease-out; }
  @media only screen and (min-width: 650px) {
    #evenfeed,
    #musicfeed {
      padding: 0 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem; } }
  @media only screen and (min-width: 768px) {
    #evenfeed,
    #musicfeed {
      margin-bottom: 20px; } }
  @media only screen and (min-width: 1080px) {
    #evenfeed,
    #musicfeed {
      grid-template-columns: repeat(2, 1fr); } }

#evenfeed.fixed-navigation {
  margin-top: 110px; }

.single-event {
  position: relative;
  transition: all 0.25 ease-out;
  text-align: left;
  padding: 20px 10px 20px 10px;
  margin: 0px 0px;
  position: relative;
  background-color: #f6f6fb;
  transition: all 0.15s ease-in-out;
  position: relative;
  top: 0;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .single-event {
      border-radius: 6px;
      margin-bottom: 0;
      padding: 20px 20px 20px 20px; } }
  .single-event.hidden {
    display: none; }
  .single-event a {
    color: #767679;
    text-decoration: none; }
    .single-event a:hover {
      text-decoration: underline !important; }
  .single-event .event-location {
    display: none;
    opacity: 0;
    transition: all 0.15s ease-in-out; }
  .single-event.view-partial .event-link a {
    display: none; }
  .single-event.view-partial:before {
    content: '...';
    color: #d3d3dc;
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 20px; }
  .single-event.view-full {
    height: auto; }
    .single-event.view-full .event-venue {
      padding-top: 20px; }
    .single-event.view-full .event-location {
      display: inline-block;
      opacity: 1;
      transition: all 0.15s ease-in-out; }
    .single-event.view-full .event-link a {
      display: inline-block; }

.event-date {
  width: 90px;
  height: 50px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #1c94a5; }

.event-info {
  width: calc(100% - 100px); }

.event-time {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #1c94a5; }
  @media only screen and (min-width: 768px) {
    .event-time {
      padding-bottom: 20px; } }

.event-title {
  font-size: 15px;
  color: #04092c; }

.event-artist {
  word-wrap: anywhere;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 5px;
  text-align: left;
  position: relative;
  left: -5px; }
  .event-artist > div:nth-of-type(even) {
    color: #f97316; }
  .event-artist > div:nth-of-type(odd) {
    color: #ce3197; }
  @media only screen and (min-width: 768px) {
    .event-artist {
      margin-right: 0px;
      padding-bottom: 5px; } }

.artist {
  display: inline-block;
  text-align: left; }

.event-image {
  display: none;
  width: 80px;
  height: 80px;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: 20px;
  margin-bottom: 30px;
  border-radius: 6px; }
  @media only screen and (min-width: 768px) {
    .event-image {
      width: 140px;
      height: 140px; } }

.event-venue {
  display: block;
  font-size: 15px;
  line-height: 20px;
  color: #04092c; }

@media only screen and (min-width: 768px) {
  .event-location {
    display: block; } }

.event-location span {
  padding-top: 5px;
  display: block;
  font-size: 12px;
  line-height: 14px; }
  .event-location span a {
    color: #c1c1c1; }

.event-location img {
  position: relative;
  top: 0px;
  width: 10px;
  height: 10px;
  margin-left: 7px; }

.event-link a {
  font-size: 12px;
  text-decoration: none;
  border: 1px solid #dddddd;
  margin-top: 20px;
  display: inline-block;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 6px;
  color: #b4b4b4; }
  @media only screen and (min-width: 768px) {
    .event-link a {
      margin-top: 30px; } }
  .event-link a:hover {
    text-decoration: none !important; }

#musicfeed {
  padding: 0;
  transition: all 0.25 ease-out; }
  @media only screen and (min-width: 650px) {
    #musicfeed {
      padding: 0 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem; } }
  @media only screen and (min-width: 768px) {
    #musicfeed {
      margin-bottom: 20px; } }
  @media only screen and (min-width: 1080px) {
    #musicfeed {
      grid-template-columns: repeat(4, 1fr); } }

.single-music {
  position: relative;
  transition: all 0.25 ease-out;
  text-align: left;
  margin: 0px 0px;
  position: relative;
  background-color: black;
  transition: all 0.15s ease-in-out;
  position: relative;
  top: 0;
  text-align: left;
  margin-bottom: 10px;
  height: 220px;
  overflow: hidden; }
  .single-music:nth-of-type(even) a {
    color: #1c94a5; }
  .single-music:nth-of-type(odd) a {
    color: #10b981; }
  @media only screen and (min-width: 1080px) {
    .single-music:hover {
      box-shadow: 0px 5px 15px #52525b; } }
  .single-music a {
    text-decoration: none; }
  .single-music img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; }
  .single-music span {
    padding: 10px;
    position: absolute;
    bottom: 10px;
    background: black;
    z-index: 2;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    text-transform: uppercase; }

.search-all {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 998; }
  @media only screen and (min-width: 768px) {
    .search-all {
      position: relative;
      top: auto; } }

.search {
  text-align: center;
  display: flex;
  justify-content: center; }

#form-search {
  margin: 10px 10px;
  display: flex;
  position: relative;
  color: #767679;
  justify-content: space-between;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    #form-search {
      max-width: 500px;
      margin: 20px 10px; } }
  @media only screen and (min-width: 1080px) {
    #form-search {
      margin: 20px 10px; } }
  #form-search img {
    position: absolute;
    left: 10px;
    top: 5px;
    width: 30px;
    z-index: 199; }
  #form-search label {
    position: absolute;
    left: -999px;
    top: -999px; }
  #form-search input {
    font-family: "Poppins", "Verdana", "Arial", sanserif;
    padding: 10px 30px 10px 50px;
    font-size: 12px;
    line-height: 0;
    width: 100%;
    border: 1px solid #d3d3dc;
    background: white;
    transition: all 0.15s ease-in-out;
    position: relative;
    display: block;
    color: #767679;
    border-radius: 30px; }
    @media only screen and (min-width: 768px) {
      #form-search input {
        width: 300px; } }
    #form-search input:hover {
      border: 1px solid #d3d3dc; }
    #form-search input:focus {
      border: 1px solid #d3d3dc;
      background: #fff; }
  #form-search button {
    font-family: "Poppins", "Verdana", "Arial", sanserif;
    margin-left: 10px;
    width: 20%;
    min-width: 100px;
    background-color: white;
    border: 1px solid #d3d3dc;
    cursor: pointer;
    color: #000;
    border-radius: 30px; }
    #form-search button:hover {
      border: 1px solid #d3d3dc; }

.seach-all {
  position: relative; }

#searchresults p {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  text-align: center;
  padding: 9px 15px;
  background: white;
  border: 1px solid #ce3197;
  border-left: 5px solid #ce3197;
  color: #ce3197;
  margin: 10px;
  margin-bottom: 10px;
  margin-top: 10px; }

#clearSearch {
  font-size: 12px;
  text-align: right;
  margin: 0 5px;
  display: none;
  position: relative;
  pointer-events: pointer; }
  #clearSearch.visible {
    display: block; }
  #clearSearch span {
    position: absolute;
    top: 19px;
    right: 15px;
    font-size: 40px;
    color: #ce3197;
    z-index: 1;
    pointer-events: none; }
    @media only screen and (min-width: 768px) {
      #clearSearch span {
        top: 10px; } }

.sort {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  border-top: 1px solid #d3d3dc;
  height: 70px;
  padding-bottom: 10px;
  background-color: white; }
  @media only screen and (min-width: 768px) {
    .sort {
      margin: 0;
      margin-right: 10px; } }
  .sort > div {
    cursor: pointer; }
    .sort > div.visible .sort-trigger {
      background-color: #fbe5f3;
      color: #ce3197; }
      .sort > div.visible .sort-trigger:after {
        color: #ce3197; }
  .sort .sort-trigger {
    display: block;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: white;
    margin-left: 5px;
    color: #000;
    width: auto;
    text-align: center;
    padding: 4px 20px; }
    @media only screen and (min-width: 1080px) {
      .sort .sort-trigger {
        font-size: 14px;
        padding: 7px 22px; } }
    .sort .sort-trigger span {
      display: block;
      margin-top: 4px; }
    .sort .sort-trigger:before {
      position: relative;
      top: 2px;
      font-size: 14px;
      margin-right: 6px; }
      @media only screen and (min-width: 1080px) {
        .sort .sort-trigger:before {
          font-size: 20px;
          margin-right: 8px; } }

.sort-artists .sort-trigger img {
  margin: 0 auto;
  width: 30px;
  display: block; }

.sort-venues .sort-trigger img {
  margin: 0 auto;
  width: 23px;
  display: block; }

.sort-date .sort-trigger img {
  margin: 0 auto;
  width: 25px;
  display: block; }

.sort-city .sort-trigger img {
  margin: 0 auto;
  width: 23px;
  display: block; }

#venue-list,
#date-list,
#artist-list,
#city-list {
  overflow: scroll;
  right: 0px;
  background: white;
  height: calc(100vh - 80px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  padding: 0px 15px 0px 15px;
  z-index: 8;
  border-bottom: 1px solid #d3d3dc;
  bottom: calc(-100vh - 80px); }
  @media only screen and (min-width: 768px) {
    #venue-list,
    #date-list,
    #artist-list,
    #city-list {
      transition: none;
      bottom: calc(-100vh - 80px); } }
  #venue-list h2,
  #date-list h2,
  #artist-list h2,
  #city-list h2 {
    padding-top: 10px;
    text-align: left;
    width: 100%; }
  #venue-list > div,
  #date-list > div,
  #artist-list > div,
  #city-list > div {
    width: 100%;
    padding: 10px 6px;
    font-size: 14px !important;
    line-height: 16px;
    font-weight: 400;
    color: #04092c;
    border-bottom: 1px solid #d3d3dc; }
    @media only screen and (min-width: 768px) {
      #venue-list > div,
      #date-list > div,
      #artist-list > div,
      #city-list > div {
        font-size: 16px !important;
        line-height: 16px;
        padding: 10px 20px; } }
    #venue-list > div:hover,
    #date-list > div:hover,
    #artist-list > div:hover,
    #city-list > div:hover {
      background: #fbe5f3;
      text-decoration: none; }

#venue-list.visible,
#artist-list.visible,
#city-list.visible,
#date-list.visible {
  transition: height 0.25 ease-in;
  overflow: scroll;
  bottom: 80px;
  left: 0;
  right: 0;
  height: calc(100vh - 80px);
  position: fixed;
  opacity: 1; }

