h1 {
	text-align: center;
	font-size: 14px;
	color: #ccc;
	font-weight: 100;
}

#evenfeed {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		> div {
			width: 30%;
		}
	}
}

.single-event {
	text-align: center;
	padding: 20px 10px 30px 10px;
	margin: 30px 10px;
	position: relative;
	border-radius: 17px;
	box-shadow:  5px 5px 23px #d4d4d4, -5px -5px 23px #ffffff;
	background-color: #fff;
	min-height: 150px;
	transition: all .15s ease-in-out;
    &:hover {
    	// background-color: #eee;
    }
}

.event-date {
	font-size: 14px;
	line-height: 16px;
	color: #c1c1c1;
	padding-bottom: 10px;
}

.event-title {
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 5px;
	font-style: italic;
}

.event-artist {
	word-wrap: anywhere;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 26px;
	padding-bottom: 5px;
	padding-bottom: 20px;

}

.artist {
	display: inline-block;
	a {
		color: #000;
		text-decoration: none;
		&:hover {
			text-decoration: underline !important;
		}
	}
}

.event-image {
	width: 140px;
	height: 140px;
	background-size: cover;
	margin: 0 auto;
	margin-bottom: 30px;
	border-radius: 27px;
}

.event-venue {
	display: inline-block;
	font-size: 18px;
	line-height: 16px;
}

.event-location {
	font-size: 12px;
	color: #ccc;
}

.event-link a {
	margin-top: 30px;
	font-size: 14px;
	color: #000;
	padding: 5px 20px;
	display: inline-block;
	text-decoration: none;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 5px 5px 23px #d4d4d4, -5px -5px 23px #ffffff;
     &:hover {
     	text-decoration: underline !important;
     }
}