h1 {
	text-align: center;
	font-size: 14px;
	color: #ccc;
	font-weight: 100;
}

.single-event {
	border: 1px solid #eee;
	padding: 20px 20px 30px 180px;
	margin: 30px 10px;
	position: relative;
	border-radius: 27px;
	box-shadow:  5px 5px 23px #d4d4d4, -5px -5px 23px #ffffff;
	background-color: #fff;
	min-height: 150px;
	transition: all .15s ease-in-out;
    &:hover {
    	background-color: #eee;
    }
}

.event-artist {
	word-wrap: anywhere;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	padding-bottom: 5px;
	@include media($tablet) {
		font-size: 20px;
		line-height: 22px;
	}
}
.event-image {
	width: 140px;
	height: 140px;
	background-size: cover;
	position: absolute;
	left: 20px;
	top: 20px;
	border-radius: 27px;

}


.event-venue {
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	&:before {
		content: '@ ';
	}
}

.event-date {
	font-size: 12px;
	line-height: 16px;
	color: #c1c1c1;
	padding-bottom: 5px;
}

.event-location {
	font-size: 12px;
	color: #ccc;
}

.event-link a {
	margin-top: 10px;
	font-size: 14px;
	color: #000;
	padding: 5px 20px;
	// border: 1px solid #ccc;
	display: inline-block;
	text-decoration: none;
	border-radius: 10px;

	background: #ffffff;
	box-shadow:  5px 5px 23px #d4d4d4, 
	             -5px -5px 23px #ffffff;
}

